<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .Params.Description }}
    <meta name="description" content="{{ .Params.Description }}">
    {{ end }}
    {{ if .Params.Author }}
    <meta name="author" content="{{ .Params.Author }}">
    {{ end }}
    {{ partial "meta-og.html" . }}
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/center.css">
    <link rel="stylesheet" href="/css/imgcaption.css">
    <link rel="stylesheet" href="/css/image-modal.css">
</head>

<body>
    {{ partial "image-modal.html" }}
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
</body>

<script src="/js/main.js"></script>

</html>
