<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .Params.Description }}
    <meta name="description" content="{{ .Params.Description }}">
    {{ end }}
    {{ if .Params.Author }}
    <meta name="author" content="{{ .Params.Author }}">
    {{ end }}
    {{ partial "meta-og.html" . }}
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/center.css">
    <link rel="stylesheet" href="/css/imgcaption.css">
    <link rel="stylesheet" href="/css/image-modal.css">

    {{ if .Params.customCSS }}
    <link rel="stylesheet" href="{{ .Params.customCSS }}">
    {{ end }}

    <script src="/js/main.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B4YDVYDFR4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-B4YDVYDFR4');
    </script>
</head>

<body>
    {{ partial "image-modal.html" }}
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    <script src="https://unpkg.com/medium-zoom@1.0.6/dist/medium-zoom.min.js"></script>

    <script>
        mediumZoom('img')
    </script>

</body>

</html>
