<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .Params.Description }}
    <meta name="description" content="{{ .Params.Description }}">{{ end }}
    {{ if .Params.Author }}
    <meta name="author" content="{{ .Params.Author }}">{{ end }}
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/center.css">
</head>

<body>
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
</body>

</html>