{{ define "main" }}
<main id="article-page">
    <article>
        <h1>{{ .Title }}</h1>
        <p class="article-info">{{ .Date.Format "January 02, 2006" }}<br/>Written by {{ .Params.Author }}</p>
        <div>{{ .Content }}</div>
        <div id="inline-share">
            <p>SHARE</p>
            <p>
                {{ partial "fontawesome.html" (dict "name" "twitter" "link" ( print "https://twitter.com/intent/tweet?text=" .Title "\n" .Permalink )) }}
                {{ partial "fontawesome.html" (dict "name" "linkedin" "link" ( print "https://www.linkedin.com/shareArticle?mini=true&url=" .Permalink )) }}
                {{ partial "fontawesome.html" (dict "name" "facebook" "link" ( print "https://www.facebook.com/sharer/sharer.php?u=" .Permalink )) }}
            </p>
        </div>
    </article>
    <div id="article-sidebar">
        <p>SHARE</p>
        <p>
            {{ partial "fontawesome.html" (dict "name" "twitter" "link" ( print "https://twitter.com/intent/tweet?text=" .Title "\n" .Permalink )) }}
            {{ partial "fontawesome.html" (dict "name" "linkedin" "link" ( print "https://www.linkedin.com/shareArticle?mini=true&url=" .Permalink )) }}
            {{ partial "fontawesome.html" (dict "name" "facebook" "link" ( print "https://www.facebook.com/sharer/sharer.php?u=" .Permalink )) }}
        </p>
    </div>
</main>
{{ end }}
