{{ define "main" }}
<main id="article-page">
    <article>
        <h1>{{ .Title }}</h1>
        {{ if .Params.userId }}
        <a href="#" onclick="openGithubProfileFromUserId('{{ .Params.userId }}')">
        {{ else }}
        <a href="#">
        {{ end }}
            <p class="article-info">
                {{ if .Params.userId }}
                    <img class="profile-img" src="https://avatars.githubusercontent.com/u/{{ .Params.userId }}" /><br/>
                {{ end }}
                {{ .Date.Format "January 02, 2006" }}<br/>
                Written by {{ .Params.Author }}
            </p>
        </a>
        <div>{{ .Content }}</div>
        <div id="inline-share">
            <p>SHARE</p>
            <p>
                <a href='{{ ( print "https://twitter.com/intent/tweet?text=" .Title "\n" .Permalink ) }}' class="svg-icon">
                    {{ partial "fontawesome" "assets/fa/twitter.svg" }}
                </a>
                <a href='{{ ( print "https://www.linkedin.com/shareArticle?mini=true&url=" .Permalink ) }}' class="svg-icon">
                    {{ partial "fontawesome" "assets/fa/linkedin.svg" }}
                </a>
                <a href='{{ ( print "https://www.facebook.com/sharer/sharer.php?u=" .Permalink ) }}' class="svg-icon">
                    {{ partial "fontawesome" "assets/fa/facebook.svg" }}
                </a>
            </p>
        </div>
    </article>
    <div id="article-sidebar">
        <p>SHARE</p>
        <p>
            <a href='{{ ( print "https://twitter.com/intent/tweet?text=" .Title "\n" .Permalink ) }}' class="svg-icon">
                {{ partial "fontawesome" "assets/fa/twitter.svg" }}
            </a>
            <a href='{{ ( print "https://www.linkedin.com/shareArticle?mini=true&url=" .Permalink ) }}' class="svg-icon">
                {{ partial "fontawesome" "assets/fa/linkedin.svg" }}
            </a>
            <a href='{{ ( print "https://www.facebook.com/sharer/sharer.php?u=" .Permalink ) }}' class="svg-icon">
                {{ partial "fontawesome" "assets/fa/facebook.svg" }}
            </a>
        </p>
    </div>
</main>
<!-- these are placed here to have some content above the footer -->
<br/>
<br/>
<br/>
{{ end }}
