<!-- Place in layouts > partials > image-modal.html -->
<!-- Use the partial at the bottom of any page in which you want magnific pop-up images,
  or simply place at the bottom of baseof.html -->
<!-- Modal will open upon clicking the image. Modal will close with clicking the x or image. -->

<!-- The Modal -->
<div id="myModal" class="modal">
    <button class="modal-close" onclick="closeModal()">close</button>
    <div class="modal-content">
      <img class="modal-pic" id="modalPic" onclick="closeModal()" style="max-width: 100%; max-height: 80vh; margin: auto;">
    </div>
</div>
